# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#Data Folder
/Data/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller artifacts
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django-specific files
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask-specific files
instance/
.webassets-cache

# Scrapy-specific files
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder files
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Various Python tools
.spyderproject
.spyproject
.ropeproject
.pybuilder/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.pyenv

# PDM, poetry, pipenv lock files (commented out, optional based on project)
# Pipfile.lock
# poetry.lock
# pdm.lock
.pdm.toml

# PEP 582 packages directory
__pypackages__/

# Celery beat schedule files
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# mkdocs documentation
/site

# Cython debug symbols
cython_debug/

# IDE settings (PyCharm, Spyder, etc.)
# .idea/
# .spyderproject
# .spyproject
# .ropeproject
betfair_knowledgebase/how_to_automate_2.txt
betfair_knowledgebase/how_to_automate_4.txt
betfair_knowledgebase/how_to_automate_3.txt
betfair_knowledgebase/how_to_automate_5.txt
